commands:
  01_modify_serverxml:
    command: "/opt/elasticbeanstalk/hooks/appdeployment/post/myscript.sh"

files:
  "/opt/elasticbeanstalk/hooks/appdeployment/post/myscript.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Hello World!" >> /var/log/myscript.out


